div.xepan-gallery-tool(id="{$_name}" class="{$class}")
  {rows}{row}
  a.fancybox(rel="{$_name}" href="{$file}" title="{title_wrapper}{$title}{/}")
    img(src="{$file}" alt="{$alt}")
  {/}{/}

  style.
    .xepan-gallery-tool img{
     padding:2px;
     border:1px solid #021a40;
     background-color:#fff;
    }
    .xepan-gallery-tool img{
      width:300px;
      height:auto;
      max-width:300px;
    }