
<div id="{$_name}" class="{$class}">{Pannel}
  <header class=" {$class} ">
    <div class="pull-right">{$grid_buttons} </div>
    <div class="form-group pull-right xepan-filter-form">
      <div class="form-control pull-left">{$quick_search}</div>
    </div>
  </header>{/Pannel}
  <div class="container content">
    <div id="carousel-example-generic" data-ride="carousel" class="carousel slide">
      {header}{cols}{col}{/}{/}{/}
      {rows}{row}
      <div data-id="{$id}" class="carousel-inner {$odd_even} col-md-{col-width}4{/}"></div>
      <div class="item active"></div>{cols}    
      <div class="thumbnail adjust1">
        <div class="col-md-2 col-sm-2 col-xs-12"><img src="{$file}" class="media-object img-rounded img-responsive"/></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="caption">
            <p class="text-info lead adjust2">{$tite}</p>
            <p><span class="glyphicon glyphicon-thumbs-up"></span>{$description}</p>
            <blockquote class="adjust2">
              <p>{$customer_name}</p><small>
                <cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> {$created_at}</cite></small>
            </blockquote><a href="#carousel-example-generic" data-slide="prev" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a> <a href="#carousel-example-generic" data-slide="next" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
      </div>{/}
      {/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}{cols}{col}{$content}{/}{/}{/}
    </div>{$Paginator}
  </div>
</div>
<style>.carousel-indicators .active{ background: #31708f; } .content{ margin-top:20px; } .adjust1{ float:left; width:100%; margin-bottom:0; } .adjust2{ margin:0; } .carousel-indicators li{ border :1px solid #ccc; } .carousel-control{ color:#31708f; width:5%; } .carousel-control:hover, .carousel-control:focus{ color:#31708f; } .carousel-control.left, .carousel-control.right { background-image: none; } .media-object{ margin:auto; margin-top:15%; } @media screen and (max-width: 768px) { .media-object{ margin-top:0; } }</style>